<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BASE_URL" value="https://api.naver.com" />
    <add key="API_KEY" value="0123456789" /> <!-- API License -->
    <add key="SECRET_KEY" value="ABCDEFG" />
    <add key="CUSTOMER_ID" value="000000" />
  </appSettings>
</configuration>
